.left {
    float: left;
    padding: 100px;
    background-color: aqua;
}

.center {
    float: left;
    background-color:aquamarine; 
    padding: 100px;
}

.right {
    float: left;
    background-color: black;
    padding: 100px;
    color: white;
}